<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.cscbms.dao.CostDao">

	<select id="findAll" resultType="com.cscbms.entity.Cost">
		select * from cost order by costId
	</select>

	
	<insert id="save" useGeneratedKeys="true" keyProperty="costId" parameterType="com.cscbms.entity.Cost">
		insert into cost(
		costId,
		name,
		baseDuration,
		baseCost,
		unitCost,
		descr,
		creatTime,
		startTime,
		costType,
		status)
		 values(
		 
			#{costId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{baseDuration,jdbcType=VARCHAR},
			#{baseCost,jdbcType=VARCHAR},
			#{unitCost,jdbcType=VARCHAR},
			#{descr,jdbcType=VARCHAR},
			#{creatTime,jdbcType=VARCHAR},
			#{startTime,jdbcType=VARCHAR},
			#{costType,jdbcType=VARCHAR},
			#{status,jdbcType=TIMESTAMP}
		)
	</insert>
	
	
	
	
	<select id="findById" parameterType="int" 
		resultType="com.cscbms.entity.Cost">
		select * from cost where costId=#{costId}
	</select>
	
	<update id="update" parameterType="com.cscbms.entity.Cost">
		<![CDATA[
			update cost set 
			name=#{name}, 
			baseduration=#{baseDuration,jdbcType=NUMERIC},
			basecost=#{baseCost,jdbcType=NUMERIC},
			unitcost=#{unitCost,jdbcType=NUMERIC},
			descr=#{descr,jdbcType=VARCHAR},
			costtype=#{costType,jdbcType=CHAR}
			where costId=#{costId}
		]]>
	</update>
	
	<delete id="delete" parameterType="int">
		delete from cost where costId=#{costId}
	</delete>
	
	<update id="startFee" parameterType="com.cscbms.entity.Cost" >
			update cost set status=#{status},startTime=NOW()
			where costId=#{costId}
	</update>
	<select id="findByPage" 
		parameterType="com.cscbms.entity.page.Page" 
		resultType="com.cscbms.entity.Cost">
		select * from cost
		<if test="baseDurationSort!='' or baseCostSort!=''">
			order by baseDuration ${baseDurationSort},baseCost ${baseCostSort}
		</if>
		limit #{begin},#{end}
	</select>
	
	<select id="findRows" resultType="int">
		select count(*) from cost
	</select>
	
</mapper>