<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.StudentMapper">
<select id="selectStudent" resultType="hashmap">
SELECT * FROM student 
</select>

<select id="selectStudentByStuId" parameterType="int"
resultType="student">
SELECT * FROM student WHERE stuid = #{stuid}
</select>
<update id="updateStudent" parameterType="student">
UPDATE student SET stuname= #{stuname} WHERE stuid= #{stuid}
</update>




</mapper>






